:root {
  --primary-color:#026EED;
  --secondary-color: #56a5f1;
  --ligthblue-color: #D5F3FF;
  --white-color: #FFFFFF;
}

html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* body {
  background: radial-gradient(#D5F3FF, #51B4E8);
} */

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}


/* Loader */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


.main__container {
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: radial-gradient(#D5F3FF, #51B4E8);
}

.container__darkmode {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: radial-gradient(#53388F, #2F2958);
}

.header__container {
  display: grid;
  grid-template-rows: auto 1fr;
  margin-top: 3.5rem;
  row-gap: 1.5rem;
}

.header__container > div {
  display: grid;
  grid-template-columns: 1fr auto;
  
}

.header__container--title{
  height: 1.2rem;
}

.header__container--title > * {
  height: 100%;
}

.header__title {
  grid-column: 1;
  grid-row: 1;
  font-size: 1.2rem;
  padding-left: 2rem;
  color: var(--white-color);
}

.header__darkmode {
  grid-column: 2;
  grid-row: 1;
  margin-right: 2rem;
  cursor: pointer;
  z-index: 2;
  background: none;
}

.search__container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  height: 2rem;
  width: fit-content;
  margin-top: 3rem;
  margin-right: 1rem;
  color: white;
  /* column-gap: 1rem; */
}

.searcher__button {
  height: 1.7rem;
  width: 1.7rem;
  margin: 0;
  padding: 0;
  background: transparent;
}

.header__search {
  flex-grow: 1;
  margin-left: 0;
  /* margin-right: 2rem; */
  border-radius: 10px;
  height: 1.7rem;
  z-index: 2;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--white-color); 
  outline: none;
  /* border: 1px solid var(--primary-color); */
  padding-left: 0.5rem;
}

.data__container {
  
  justify-self: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  width: 330px;
  background: linear-gradient(#E5F2FF, #D5F3FF);
  filter: drop-shadow(0px 4.85px 1px rgba(0, 0, 0, 0.25));
  border-radius: 14.85px;
  margin-bottom: 3rem;
  overflow: visible;
}

.data__darkmode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  width: 330px;
  background: linear-gradient(#5836B3, #362A84);
  filter: drop-shadow(0px 4.85px 1px rgba(0, 0, 0, 0.25));
  border-radius: 14.85px;
  margin-bottom: 3rem;
  overflow: visible;
}

.data__darkmode .temp, 
.data__darkmode .wind, 
.data__darkmode .main, 
.data__darkmode .pressure, 
.data__darkmode .name, 
.data__darkmode .description
{
  color: var(--white-color);
}


p,
span {
  /* color: var(--primary-color); */
  margin-left: 1rem;
  margin-right: 1rem;
}

.temp__container {
  display: flex;
  align-items: flex-end;
  height: 4.5rem;
  overflow: visible;
  column-gap: 1rem;
}

.temp {
  color: var(--primary-color);
  font-size: 3.5rem; /* descargar font thin */
  margin-bottom: 0.7rem;
  margin-right: 0;
}

.imagen {
  /* position: absolute; */
  width: 180px;
  height: 180px;
  z-index: 20;
  margin-right: 1rem;
  /* margin-bottom: -20px; */
}

.wind,
.main,
.pressure {
  color: var(--primary-color);
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  width: fit-content;
}


.detail__container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.name {
  color: var(--primary-color);
  font-size: 1.2rem;
  max-height: min-content;
  min-width: 170px;
}

.description{
  color: var(--primary-color);
  font-size: 1.05rem;
  margin-right: 1rem;
  max-height: 4rem;
  overflow: hidden;
  padding-bottom: 0;
  /* vertical-align: baseline; */
}

.unit__button {
  height: 30px;
  width: 130px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.unit__button__darkmode {
  height: 30px;
  width: 130px;
  border-radius: 10px;
  background-color: #7D69F1;
  color: var(--white-color);
}

.loader {
  background: rgba(128, 128, 128, 0.75) ;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {

  .header__container {
    margin-right: 3rem;
    margin-left: 3rem;
  }

 .header__title {
    font-size: 2em;
  } 

 .header__search {
  width: 16rem;
 }

}